body {
  background-color: #250147;
  color: rgb(74, 2, 116);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;

}


#window{
  margin-top: 100px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 0 0 5px rgb(0, 255, 98);
}
.swapbox_select {
  width: 50%;
  float: left;
  
}
.swapbox{
  overflow: auto;
  margin: 20px 0;
  padding: 10px;
  background-color: #2f2f2f;
  border-radius: 13px;
  border: 1px solid #565656;
}
.token_select{
  padding: 6px 0;
  border-radius: 2%;
 
}
.token_select:hover{
  background-color: #464646;
  cursor: pointer;
  
}
.token_list_img, .token_image{
  width: 40px;
}
.modal-body{
  height: 600px;
  overflow: scroll;
}
.token_row{
  padding: 5px 10px;
}
.token_row:hover{
  background-color: #e4e4e4;
  cursor: pointer;
}

#swap_button{
  margin-top: 15px;
  border-radius: 8px;
  border: #f200fa;
  box-shadow: #ff00ff;
  padding: 10px;
  margin-bottom: 15px;
}

